
<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb3">Add User</button>
<div class="card card-body mb3" *ngIf="showUserForm">
  
  <h3> Enter new user information</h3>
  <form (submit)="onSubmit($event)">
    <div class="form-group">
      <label>FirstName</label>
      <input 
        [(ngModel)]="user.firstName" 
        [ngClass]="{'is-invalid':userFirstName.errors && userFirstName.touched}" 
        type="text" 
        class="form-control is-invalid" 
        name="firstName"
        #userFirstName = "ngModel"
        required 
        minlength="2">
      <div [hidden]="!userFirstName.errors?.required"   
        class="invalid-feedback">
        First name is required.
      </div>
      <div [hidden]="!userFirstName.errors?.min"
        class="invalid-feedback">
        Minimum characters are 2. 
      </div>
      <!-- <p>{{ user.firstName }}</p> -->
    </div>
    <div class="form-group">
      <label>LastName</label> <!-- template reference variable -->
      <input #last (keyup)="0" [(ngModel)]="user.lastName" type="text" class="form-control" name="lastName">
      {{ last.value }}
    </div>
    <div class="form-group">
        <label>Email: </label> <!-- template reference variable -->
        <input #last (keyup)="0" [(ngModel)]="user.email" type="text" class="form-control" name="email">
        {{ last.value }}
    </div>

    <!--<div class="form-group">
        <label>Age</label>
        <input type="number" [(ngModel)]="user.age" class="form-control" name="age">
    </div>
     <h5>Address</h5>
    <div class="form-group">
        <label>Street</label>
        <input type="text" [(ngModel)]="user.address.street" class="form-control" name="street">
    </div>
    <div class="form-group">
        <label>City</label>
        <input type="text" [(ngModel)]="user.address.city" class="form-control" name="city">
    </div>
    <div class="form-group">
        <label>State</label>
        <input type="text" [(ngModel)]="user.address.state" class="form-control" name="state">
    </div> -->
    <button [disabled]="! userForm.form.valid"  class="btn btn-block btn-light mb-3">Add New User</button>
  </form>

</div>


<h2>Users</h2>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
  <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive">
    <h3>{{ user.firstName }} {{ user.lastName }}
      <!-- <small>
        <button (click)="toggleHide(user)" class="btn btn-dark btn-sm">
        <i [ngClass]= "user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i>
        </button>
    </small> -->
    </h3>
    <ul class="list-group">
      <li class="list-group-item">Age: {{ user.age }}</li>
      <!-- <li class="list-group-item">Address: {{ user.address.street }} {{ user.address.city }}, {{ user.address.state }}</li> -->
      <li class="list-group-item">Email: {{ user.email }}</li>
      <li class="list-group-item">Joined: {{ user.registered | date }}</li>
    </ul>
  </li>
</ul>

<h4 *ngIf="users?.length == 0">No Users Found</h4>

<h4 *ngIf="!loaded">Loading Users...</h4>

 
<!--
Adding Events - 
(drag)="fireEvent($event)"
(dblclick)="fireEvent($event)"
(mouseout)="fireEvent($event)"
(mouseover)="fireEvent($event)"
(cut)
(copy)
(paste)


ngClass is used to switch between multiple css class names based on the logic of the property value 

2-way data binding:
====================
We want to bind the input fields in the form to actual properties of the component. 
So first we create a new "user" property in the compoenent. Why? Because we need a set of defualt values and also a container to pick up each of the input values and then push them collectively in the users array. 

- to bind input data to a property we use ngModel.
- syntax [()] :  the "[" box brackets mean binding from component to template eg: property binding, class binding
                 the "(" means binding from the template to the component or class. 
  Since ngModel is used for 2-way data binding, we use a complete notation of "[()]"      
- for the firstname input field we added [(ngModel)]="user.firstName"  .. indicating that dump the data that the user writes into user.fistname .. and we created the user container for that exact purpose. 

<input [(ngModel)]="user.firstName" (keydown)="fireEvent($event)" type="text" class="form-control" name="firstName">
Example:
========
<input [(ngModel)]="user.firstName"  type="text" class="form-control" name="firstName">
<p>{{ user.firstName }}</p>  ... string interpolation

This indicates that 2-way binding is working. 

get user input from template variable : template reference variable 
=====================================
@Component({
  selector: 'app-loop-back',
  template: `
    <input #box (keyup)="0">  ...notice the hash reference for the input element 
    <p>{{box.value}}</p>
  `
})
export class LoopbackComponent { }
eg: <label>LastName</label> ... template reference variable 
<input #last (keyup)="0" type="text" class="form-control" name="lastName">
{{ last.value }}

Template driven forms.   
Angular template syntax with the form-specific directives and techniques

Bootstrap UI Form validation:
If you add css class "is-invalid" to an input field, it will get a red outline. 
now you can also add a div with class "invalid-feedback" to add some text below the field indicating how invalid the input 
is. 

Complete form validation is required for the adduser button to be activated. 
<button [disabled]="! userForm.form.valid"  class="btn btn-block mb-3">Add New User</button>
-->